# Final Project - Code | Roey Stern

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('CO2 Emission.csv')

## Building The Dataset

In [4]:
data = data.melt(id_vars=['Country Name'],
         var_name = 'Year',
         value_name = 'CO2 Emissions')
data

                      Country Name  Year  CO2 Emissions
0                            Aruba  1960            NaN
1      Africa Eastern and Southern  1960       0.906060
2                      Afghanistan  1960       0.046057
3       Africa Western and Central  1960       0.090880
4                           Angola  1960       0.100835
...                            ...   ...            ...
16221                       Kosovo  2020            NaN
16222                  Yemen, Rep.  2020            NaN
16223                 South Africa  2020            NaN
16224                       Zambia  2020            NaN
16225                     Zimbabwe  2020            NaN

[16226 rows x 3 columns]

In [5]:
data2 = pd.read_csv('Urban Pop.csv')

In [6]:
data2 = data2.melt(id_vars=['Country Name'],
                   var_name = 'Year',
                   value_name = '% Urban Pop')

In [7]:
data2

                      Country Name  Year  % Urban Pop
0                            Aruba  1960    50.776000
1      Africa Eastern and Southern  1960    14.704688
2                      Afghanistan  1960     8.401000
3       Africa Western and Central  1960    14.670329
4                           Angola  1960    10.435000
...                            ...   ...          ...
16221                       Kosovo  2020          NaN
16222                  Yemen, Rep.  2020    37.908000
16223                 South Africa  2020    67.354000
16224                       Zambia  2020    44.629000
16225                     Zimbabwe  2020    32.242000

[16226 rows x 3 columns]

In [8]:
data['% Urban Pop'] = data2['% Urban Pop']

In [9]:
eu = pd.read_csv('Energy Use.csv')
eu = eu.melt(id_vars=['Country Name'],
                   var_name = 'Year',
                   value_name = 'Eneregy Use')
data['Energy Use'] = eu['Eneregy Use']

In [10]:
epc = pd.read_csv('Electric Power Consumption.csv')
epc = epc.melt(id_vars=['Country Name'],
                   var_name = 'Year',
                   value_name = 'Electric Power Consumption')
data['Electric Power Consumption'] = epc['Electric Power Consumption']

In [11]:
data

,Country Name,Year,CO2 Emissions,% Urban Pop,Energy Use,Electric Power Consumption
0,Aruba,1960,NaN,50.776000,NaN,NaN
1,Africa Eastern and Southern,1960,0.906060,14.704688,NaN,NaN
2,Afghanistan,1960,0.046057,8.401000,NaN,NaN
3,Africa Western and Central,1960,0.090880,14.670329,NaN,NaN
4,Angola,1960,0.100835,10.435000,NaN,NaN
...,...,...,...,...,...,...
16221,Kosovo,2020,NaN,NaN,NaN,NaN
16222,"Yemen, Rep.",2020,NaN,37.908000,NaN,NaN
16223,South Africa,2020,NaN,67.354000,NaN,NaN
16224,Zambia,2020,NaN,44.629000,NaN,NaN
16225,Zimbabwe,2020,NaN,32.242000,NaN,NaN

In [12]:
FA = pd.read_csv('Forest Area %.csv')
FA = FA.melt(id_vars = ['Country Name'],
             var_name = 'Year',
             value_name = 'Forest Area %')
data['Forest Area %'] = FA['Forest Area %']

In [13]:
FF = pd.read_csv('Fossil Fuel Energy Consumption.csv') 
FF = FF.melt(id_vars=['Country Name'],
                   var_name = 'Year',
                   value_name = 'Fossil Fuel Consumption')
data['Fossil Fuel Consumption'] = FF['Fossil Fuel Consumption']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16226 entries, 0 to 16225
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country Name                16226 non-null  object
 1   Year                        16226 non-null  object
 2   CO2 Emissions               13316 non-null  float64
 3   % Urban Pop                 16034 non-null  float64
 4   Energy Use                  7978 non-null   float64
 5   Electric Power Consumption  7787 non-null   float64
 6   Forest Area %               8018 non-null   float64
 7   Fossil Fuel Consumption     8175 non-null   float64
dtypes: float64(6), object(2)
memory usage: 1014.2+ KB

In [14]:
GDP = pd.read_csv('GDP Annual Growth.csv') 
GDP = GDP.melt(id_vars=['Country Name'],
                   var_name = 'Year',
                   value_name = 'GDP Annual Growth')
data['GDP Annual Growth'] = GDP['GDP Annual Growth']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16226 entries, 0 to 16225
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country Name                16226 non-null  object
 1   Year                        16226 non-null  object
 2   CO2 Emissions               13316 non-null  float64
 3   % Urban Pop                 16034 non-null  float64
 4   Energy Use                  7978 non-null   float64
 5   Electric Power Consumption  7787 non-null   float64
 6   Forest Area %               8018 non-null   float64
 7   Fossil Fuel Consumption     8175 non-null   float64
 8   GDP Annual Growth           12153 non-null  float64
dtypes: float64(7), object(2)
memory usage: 1.1+ MB

In [15]:
RE = pd.read_csv('Renewable Energy Consumption.csv') 
RE = RE.melt(id_vars=['Country Name'],
                   var_name = 'Year',
                   value_name = 'Renewable Energy Consumption')
data['Renewable Energy Consumption'] = RE['Renewable Energy Consumption']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16226 entries, 0 to 16225
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country Name                  16226 non-null  object
 1   Year                          16226 non-null  object
 2   CO2 Emissions                 13316 non-null  float64
 3   % Urban Pop                   16034 non-null  float64
 4   Energy Use                    7978 non-null   float64
 5   Electric Power Consumption    7787 non-null   float64
 6   Forest Area %                 8018 non-null   float64
 7   Fossil Fuel Consumption       8175 non-null   float64
 8   GDP Annual Growth             12153 non-null  float64
 9   Renewable Energy Consumption  7319 non-null   float64
dtypes: float64(8), object(2)
memory usage: 1.2+ MB

## Models

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

### Correlation

In [17]:
correlation = data.corr()
correlation

,CO2 Emissions,% Urban Pop,Energy Use,Electric Power Consumption,Forest Area %,Fossil Fuel Consumption,GDP Annual Growth,Renewable Energy Consumption
CO2 Emissions,1.000000,0.543542,0.830578,0.586205,-0.110605,0.482354,-0.028020,-0.571425
% Urban Pop,0.543542,1.000000,0.569105,0.586833,-0.028978,0.584682,-0.085049,-0.617547
Energy Use,0.830578,0.569105,1.000000,0.738202,-0.112269,0.378830,-0.059811,-0.433400
Electric Power Consumption,0.586205,0.586833,0.738202,1.000000,-0.054217,0.238543,-0.076686,-0.322412
Forest Area %,-0.110605,-0.028978,-0.112269,-0.054217,1.000000,-0.309075,-0.021504,0.153266
Fossil Fuel Consumption,0.482354,0.584682,0.378830,0.238543,-0.309075,1.000000,0.009066,-0.852085
GDP Annual Growth,-0.028020,-0.085049,-0.059811,-0.076686,-0.021504,0.009066,1.000000,0.078397
Renewable Energy Consumption,-0.571425,-0.617547,-0.433400,-0.322412,0.153266,-0.852085,0.078397,1.000000

### Linear Regression

In [18]:
data = data.dropna() # Removing null rows.
# All the variables for the first model 
X1 = data[['Energy Use', 'Electric Power Consumption', 'Renewable Energy Consumption', '% Urban Pop', 
           'Fossil Fuel Consumption','GDP Annual Growth','Forest Area %']]
Y1 = data['CO2 Emissions']

In [19]:
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.3, random_state=77)

In [20]:
model1 = LinearRegression()
model1.fit(X1_train, Y1_train)
pred1 = model1.predict(X1_test)
model1_score = round(r2_score(Y1_test, pred1),5)

In [21]:
# improving the model by removing the least correlated variable - GDP Annual Growth
X2 = data[['Energy Use', 'Electric Power Consumption', 'Renewable Energy Consumption', '% Urban Pop', 
           'Fossil Fuel Consumption','Forest Area %']]
Y2 = data['CO2 Emissions']
X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2, Y2, test_size=0.3, random_state=77)

In [22]:
model2 = LinearRegression()
model2.fit(X2_train, Y2_train)
pred2 = model2.predict(X2_test)
model2_score = round(r2_score(Y2_test, pred2),5)

In [23]:
# Using the same method to improve the model - Removed Forest Area %
X3 = data[['Energy Use', 'Electric Power Consumption', 'Renewable Energy Consumption', '% Urban Pop', 
           'Fossil Fuel Consumption']]
Y3 = data['CO2 Emissions']
X3_train, X3_test, Y3_train, Y3_test = train_test_split(X3, Y3, test_size=0.3, random_state=77)

In [24]:
model3 = LinearRegression()
model3.fit(X3_train, Y3_train)
pred3 = model3.predict(X3_test)
model3_score = round(r2_score(Y3_test, pred3),6)

In [25]:
# Model 4- Removed Fossil Fuel Consumption
X4 = data[['Energy Use', 'Electric Power Consumption', 'Renewable Energy Consumption', '% Urban Pop']]
Y4 = data['CO2 Emissions']
X4_train, X4_test, Y4_train, Y4_test = train_test_split(X4, Y4, test_size=0.3, random_state=77)

In [26]:
model4 = LinearRegression()
model4.fit(X4_train, Y4_train)
pred4 = model4.predict(X4_test)
model4_score = round(r2_score(Y4_test, pred4),6)

In [27]:
# Model 5- Removed Urban Pop %
X5 = data[['Energy Use', 'Electric Power Consumption', 'Renewable Energy Consumption']]
Y5 = data['CO2 Emissions']
X5_train, X5_test, Y5_train, Y5_test = train_test_split(X5, Y5, test_size=0.3, random_state=77)

In [28]:
model5 = LinearRegression()
model5.fit(X5_train, Y5_train)
pred5 = model5.predict(X5_test)
model5_score = round(r2_score(Y5_test, pred5),5)
# Out of the 5 models I created, the one with the highest r-squared value was model 3 with the variables Energy Use, 
# Electric Power Consumption, Renewable Energy Consumption, Urban Pop%, and fossil fuel consumption

### CART

In [32]:
from sklearn.tree import DecisionTreeRegressor

In [33]:
# Since the train data has almost 3000 rows the min sample split would be 500 samples. 
model6 = DecisionTreeRegressor(min_samples_split = 400) 
model6.fit(X1_train,Y1_train) #Using all the variables for the CART model

DecisionTreeRegressor(min_samples_split=400)

In [34]:
import graphviz 
from sklearn import tree
dot_data = tree.export_graphviz(
    model6, out_file='FPTree.dot',
    feature_names = ['Energy Use', 'Electric Power Consumption', 'Renewable Energy Consumption', '% Urban Pop', 
           'Fossil Fuel Consumption','GDP Annual Growth','Forest Area %'],
    filled = True,
    rounded = True
    )

In [35]:
import pydot
graphs = pydot.graph_from_dot_file("FPTree.dot")

In [36]:
graph = graphs[0]

In [37]:
graph.write_png("output.png")

In [38]:
pred6 = model6.predict(X1_test)
model6_score = round(r2_score(Y1_test, pred6),4)

### Random Forest

In [39]:
from sklearn.ensemble import RandomForestRegressor
model7 = RandomForestRegressor(min_samples_split = 100, n_estimators = 1000)
model7.fit(X1_train, Y1_train)

RandomForestRegressor(min_samples_split=100, n_estimators=1000)

In [40]:
pred7 = model7.predict(X1_test)
model7_score = round(r2_score(Y1_test, pred7),3)

### Summary Tables

In [41]:
Linear_Regression_Scores = pd.DataFrame(index = ['R Sqaured'])
Linear_Regression_Scores['Model1 Score'] = [model1_score]
Linear_Regression_Scores['Model2 Score'] = [model2_score]
Linear_Regression_Scores['Model3 Score'] = [model3_score]
Linear_Regression_Scores['Model4 Score'] = [model4_score]
Linear_Regression_Scores['Model5 Score'] = [model5_score]

In [42]:
Linear_Regression_Scores

,Model1 Score,Model2 Score,Model3 Score,Model4 Score,Model5 Score
R Sqaured,0.83746,0.83746,0.83841,0.838397,0.83655

In [43]:
Scores = pd.DataFrame(index = ['R Squared'])
Scores['Linear Regression'] = [model3_score]
Scores['CART'] = [model6_score]
Scores['Random Forest'] = [model7_score]
Scores

           Linear Regression    CART  Random Forest
R Squared            0.83841  0.8403          0.881